<div class="js-editor editor">
  <div class="textarea_container">
    <div class="textarea_padding">
      <textarea class="js-textarea"></textarea>
    </div>
  </div
  ><div class="previewer_container">
    <article class="js-previewer previewer"></article>
  </div>
</div>
