<form>
  <span class="js-errors"></span>
  <input type="text" name="email" placeholder="foo@example.com">
  <input type="password" name="password" placeholder="password">
  <input name="submit" type="submit" value="Sign up">
  <a href="#" class="js-cancel">Cancel</a>
</form>
