<form>
  <ul>
    <li>
      <label for="email">Email:</label>
      <input type="text" name="email">
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </li>
    <li>
      <input name="submit" type="submit" value="Sign up">
    </li>
  </ul>
</form>
