.editor {
  .textarea_container, .previewer_container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .textarea_padding {
    padding: 0 20px;
    background: #042029;
  }
  textarea {
    width: 100%;
    padding: 20px 0 !important;
    height: 600px;
    vertical-align: bottom;
  }
  .previewer {
    height: 600px;
    overflow: scroll;
    padding: 20px;
    background: #fff;
  }
}