header {
  color: #54ad9c;

  h1 {
    font-family: courier;
    font-size: 1em;
    width: 50%;
    display: inline-block;
  }

  span {
    text-align: right;
    display: inline-block;
    width: 49%;
  }

}
