header {
  color: #54ad9c;
  font-family: courier;
  position: relative;

  h1 {
    font-family: courier;
    font-size: 1em;
    width: 50%;
    display: inline-block;
    margin: 0;
  }

  input[type=text] {
    font-family: courier;
    color: #54ad9c;
    background: transparent;
    border: none;
    padding: 8px 20px;
    font-size: 1.3em;
    line-height: 1.3em;
    width: 100%;
    display: inline-block;
    margin: 0;
    outline: none;
  }

  .user_actions {
    position: absolute;
    text-align: right;
    top: 12px;
    right: 20px;
    color: #666;
  }

}
