<!DOCTYPE html>
<html>
<head>
  <title>Notational Momentum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="input_wrapper">
    <input type="text" name="title" value="Welcome to Notational Momentum" />
  </div>
  <span class="js-status user_actions"></span>
  <div class="search_results js-search_results">
    <ul>
      <li><a href="">Some note 1</a></li>
      <li><a href="">Another note</a></li>
      <li><a href="">This is a nice long title for a note</a></li>
      <li><a href="">More notes!</a></li>
    </ul>
  </div>
</header>

<%= yield %>

</body>
</html>
