<!DOCTYPE html>
<html>
<head>
  <title>Notational Momentum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header role="notes_list">
  <div class="input_wrapper">
    <input type="text" role="title" placeholder="Welcome to Notational Momentum" class="js-new_note_bar" />
  </div>
  <div class="search_results" role="search_results">
    <ul></ul>
  </div>
</header>

<%= yield %>

</body>
</html>
