<!DOCTYPE html>
<html>
<head>
  <title>Notational Momentum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <input type="text" name="title" value="Welcome to Notational Momentum" />
  <span class="js-status user_actions"></span>
</header>

<%= yield %>

</body>
</html>
